<html>
    <head>
        <title>Nairobi blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Nairobi</a></h1>
        </div>

        <div>
            <p>published: 13.05.2017, 16:54</p>
            <h2><a href="">Lalala</a></h2>
            <p>Escribo algo que sea bonito</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">NAnana</a></h2>
            <p>seguimos haciendo el blog en python</p>
        </div>
    </body>
</html>

